@using Laborario_01.Models;
@model List<TProducto>;
@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" id="btnAddProducto" data-target="#staticBackdrop"><i class="fas fa-plus"></i> Agregar Producto</button>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <!-- Tabla de Listado de Productos -->

        <h1>Listado de Productos </h1>
        <div class="modal-container"></div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descuento</th>
                    <th scope="col" colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td> @product.Nombre </td>
                        <td> @product.Categoria </td>
                        <td> @product.Precio </td>
                        <td> @product.Descuento </td>
                        <td>
                            <button class="btn btn-success" id="EditProducto" data-target="#staticBackdrop" value="@product.PkEproducto"><i class="fas fa-pencil-alt"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-danger" id="DeleteProducto" data-target="#staticBackdrop" value="@product.PkEproducto"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>


@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            const btnAbrirModal = $("#btnAddProducto");
            const btnEditProducto = $("#EditProducto");
            const btnEditValue = $("#EditProducto").val();

            console.log(btnEditProducto)
            btnEditProducto.click(function (e) {
                e.preventDefault();
                InvocarModal(btnEditValue);
            });

            btnAbrirModal.click(function (e) {

                e.preventDefault();           
                InvocarModal();
            });
            function InvocarModal(id) {
                AbrirModal(`/Producto/Mantenimiento/${id ? id : ""}`);
            }
            function AbrirModal(url) {
             
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: "html",
                    cache: false,
                    success: function (data) {

                        $('.modal-container').html(data).find('.modal').modal({
                            show: true
                        });
                    }

                });
            }
            $(".modal-container").on("click", "#SaveProducto", function (e) {

                let Producto = {
                    "PkEproducto": $("#PkEproducto").val(),
                    "Nombre": $("#Nombre").val(),
                    "Categoria": $("#Categoria").val(),
                    "Precio": $("#Precio").val(),
                    "Descuento": $("#Descuento").val()
                }

                Swal.fire({
                    title: 'Do you want to save the changes?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: `Save`,
                    denyButtonText: `Don't save`,
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        $.ajax({

                            url: '/Producto/MantenimientoProducto',
                            data: JSON.stringify(Producto),
                            type: 'POST',
                            contentType: "application/json;charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                Swal.fire('Saved!', '', 'success')
                                $('#myModal').modal('hide');
                            },
                            error: function (error) {

                            }

                        });
                        
                    } else if (result.isDenied) {
                        Swal.fire('Changes are not saved', '', 'info')
                        $('#myModal').modal('hide');
                    }
                })
                
                
            });
           
        });


    </script>

}